# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
# Android related
.android/
# iOS related
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
# Xcode related
*.xcworkspace
*.xcuserstate
*.moved-aside
*.xcuserstate
DerivedData/
.idea/
*.iml
# VS Code related
.vscode/
# Misc
*.log
*.lock
# Firebase configuration files
# Do NOT commit these files to version control
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
# Optional: Exclude Firebase rules if you have them locally
firestore.rules
storage.rules
# Others
*.DS_Store
